{# {% extends 'core/base.html.twig' %}

{% block content %}
	<div class="col-12 rounded-3 shadow p-3">
		<h1 class="fst-italic fw-bold">Orders</h1><hr>
		
{% endblock %}

{% block javascripts %}
	<script defer src="{{ asset('scripts/admin.categories.js') }}"></script>
{% endblock %} #}
