main>.container {
    padding: 60px 15px 0;
}


/* TODO Faire fonctionner le css ? */
.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

a.footer-link {
    color: #35b63f !important;
    transition: ease-in-out;
    text-decoration: none;
}

a.footer-link:hover {
    color: #2e9e37;
}

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    Set the fixed height of the footer here
    height: 60px;
    background: #F37A1D;
    border-top: 3px solid #F37A1D;
} 
*/

/* Note, couleurs du panier #35b63f */